
/*DEFAULTS*/
html {
    filter: none;

    background: no-repeat fixed;

    background-color: darkslategray;
    align-content: center;
    
    text-align: center;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: normal;
    word-break: break-all;
    
}
body {
    margin: 0;
    padding: 0; 
}

/* Landing Page */
h1.landing {
    
    color: cornsilk;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 275%;
    margin-bottom: 0%;
}
h5.landing {
    margin-top: 0%;
    font-style: italic;    
}
.ABOUTArticle{
    text-align: left;
    margin: 10%;
    margin-top: 5%;
}
.ABOUTArticle h2 {
    text-decoration: underline;
}
.langList {
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    border: 1em dashed bisque;
    margin-bottom: 5%;
}
@keyframes boxLogic {
    0% {margin-left: 2%;}
    100% {margin-left: 75%;}
}
.movingBox{
    height: 0;
    width: 20%;
    padding-bottom: 20%;
    border: double whitesmoke 1em;
    animation-delay: 5s;
    animation-name: boxLogic;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
/* FUN */
div.messageBox {
    margin-left: 25%;
    margin-right: 25%;
    border-style: dotted;
    border-radius: 15%;
}
div.messageBox h6 {
    font-size: 125%;
    font-family: 'Times New Roman', Times, serif;
}


/*UNIVERSAL*/
/* Links Bar */
div.linksBar {
    background-color: rgb(26, 45, 45);
    padding-top: 1%;
    padding-bottom: 1%;
}
div.linksBar a {
    color: darkkhaki;
    font-weight: bold;
    font-size: 125%;
    text-decoration: none;

    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    
    border-style: solid;
    border-color: black;
    border-width: 2px;

    transition-property: background-color;
    transition-duration: 500ms;
}
div.linksBar a:hover {
    background-color: darkgray;
    color: khaki;
}

h1.secondTittles {
    font-size: 225%;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;

}
